RBOOT_NAME=RBOOT
RBOOT_ADAPTER=cli
RBOOT_BRAIN=memory

DATA_PATH=.data

BOLT_DB_FILE=.data/db/rboot.db
BOLT_BUCKET=rboot

WEB_SERVER_ADDR=:7856
WEB_SERVER_TLS=false
WEB_SERVER_CERT=
WEB_SERVER_CERT_KEY=

BEARYCHAT_KEY=
BEARYCHAT_TOKEN=




