DEBUG=true

RBOOT_NAME=RBOOT
RBOOT_ALIAS=%RBOOT_NAME%
RBOOT_ADAPTER=cli
RBOOT_STORAGE=memory

DB_CONNECTION=mysql
DB_HOST=192.168.0.51
DB_PORT=3306
DB_DATABASE=weasy
DB_USERNAME=root
DB_PASSWORD=root

DB_MAX_IDLE_Conns

BOLT_DB_FILE=db/rboot.db

WECHAT_APPID=wxce6bcf1fd09e7c3c
WECHAT_SECRET=6f14e784c4e49f5504ebb8d4802c5b61
WECHAT_TOKEN=
WECHAT_ENCODING_AES_KEY=

DATA_PATH=.data

BOOK_PATH=E:\data\books



